*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat';;
}

:root{
    --mainColor:#0F52BA;
    --whiteColor:#FFFFFF;
}

header div{
    display: flex;
}
.logo{
    margin: 5%;
}

main{
    width: 70px;
    height: 35px;
    background-color: var(--whiteColor);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5em;
    
}

.Header{
    background-color: var(--mainColor);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

h1{
    color: var(--whiteColor);
    margin-left: 5%;
}

 a{
    font-size: 0.8em;
    padding: 10px;
    color: var(--whiteColor);
    text-decoration: none;
}

img{
    width:25px;
    cursor: pointer;
}

.carrinho img{
    size: 10px;
}
